body{
    background: #EFEFEF;
}
header,main,nav,footer {
    text-align:center;
}
h1 {
    
    text-align: center;
    color: #F6BD20;
}

.submit{
    border-radius: 15px;
}



#carousel{
    background-color: #F6BD20;
    text-align: center;
}


.btn{
    font-size: 1rem;
    padding: 10px 10px;
    font-weight: normal;
    margin-top: 1%;
    width: 25%;
    color: #C52018;
    border-color: #F6BD20;
      
}

.btn:hover{
    background-color: #F6BD20;
    color: #C52018;
    border-color: #F6BD20;
}

.poke-image{
    border-radius: 100%;
    margin: 5%;
    width: 20%
}

.text{
    color: #C52018;
    text-align:center;
    margin: 3rem;
    font-size: 2rem;
        
}

#pokeNum{
    font-size: 1.3rem;
    border-radius: 15px;
    background-color: #F6BD20;
    padding: 10px 10px;
}

.header { 
    width:50%;
    height: 1px;
    background-color: #000;
    border: none;
}
.footer{
    background-color: #F6BD20;
    color: #C52018;
}